<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ProductCatalogSuite" verbose="1">

    <test name="API Tests">
        <classes>
            <class name="com.tap.EndToEndTesting.APITestingTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.tap.EndToEndTesting.ProductUITest"/>
        </classes>
    </test>

</suite>
